%h1 Listing invites

%table
	- @invites.each do |invite|
		%tr
			%td= invite.email
			%td= invite.invite_code
			%td= link_to 'Destroy', invite, confirm: 'Are you sure?', method: :delete
			- if invite.invited?
				%td Invited
			- else
				%td= link_to 'Invite', send_invitation_path(invite), :confirm => 'Send invitation? ', :method => :post

%br

= link_to 'New Invite', new_invite_path