.dashboard
	.index
		.sidebar
			%h6 More coming here soon!
		.timeline
			.success
				%p Your prayer request has been posted successfully!
			.top
				.share
					= form_tag user_prayers_path(@user.screenname), :method => :post, :remote => true, :id => "prayers" do
						.box
							= text_area_tag :prayer
							%br
							= check_box_tag :facebook
							Please post as my Facebook status
						.button
							= submit_tag "Share"
			.clear
			- if @user.group == nil
				%h3 Prayer Requests you've shared
			- else
				%h3 Prayer Requests from #{link_to @user.group.name, @user.group}
			.divider17
				%hr{:style => "margin-top: 0;"}
			.clear
			- unless @prayers.blank?
				.requests
					= render :partial => "prayer", :collection => @prayers
			- if @prayers.blank?
				There are no prayer requests at this time.
		.clear
		- unless @prayers.blank?
			.paginator
				= paginate @prayers, :remote => true, :theme => 'github'