<p id="notice"><%= notice %></p>

<p>
  <b>Provider:</b>
  <%= @user.provider %>
</p>

<p>
  <b>Uid:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Token:</b>
  <%= @user.token %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Screenname:</b>
  <%= @user.screenname %>
</p>

<p>
  <b>Bio:</b>
  <%= @user.bio %>
</p>

<p>
  <b>Religion:</b>
  <%= @user.religion %>
</p>

<p>
  <b>Political:</b>
  <%= @user.political %>
</p>

<p>
  <b>Image:</b>
  <%= @user.image %>
</p>

<p>
  <b>Provider profile:</b>
  <%= @user.provider_profile %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
