%p Share a Prayer is actively maintained and run by two Florida geeks, #{link_to "Robert Klubenspies","http://robertklubenspies.com/"} and #{link_to "Shane Maloy","http://shanemaloy.com/"}. Community support is encouraged and Share a Prayer is an open source web app on #{link_to "Github","http://github.com/shareaprayer/shareaprayer/"}.

%br

.row
	.span2
		=image_tag "rklubenspies.png"
	.span6
		%h4
			Robert Klubenspies
			%small Web Application Developer
		%p
			I'm a geek, no doubt. Among other things I'm a rubyist, theorist, idealist, and metaphysicist. I believe that every website or web app that you use should be beautiful, minimalist, and help you accomplish your goals in a fraction of amount of time they would normally consume. Utilizing Ruby, HTML 4/5, CSS 3, and NoSQL data stores, I strive to build beautiful interfaces and web apps for myself and clients.
			%small #{link_to "robertklubenspies.com","http://robertklubenspies.com/"}
%br
.row
	.span2
		=image_tag "smaloy.png"
	.span6
		%h4
			Shane Maloy
			%small Promoter
		%p
			I am a 17 year old website designer from Orlando, FL with a passion to glorify God in all that I do. Besides occasional work and dual enrollment at Seminole State College, I enjoy bike rides, working on my car, Starbucks, Chipotle, music, leading worship at my church and photography. I play a 1970’s Gibson SG, a 1983 Fender Stratocaster and a Ibanez Acoustic guitar. I love playing guitar, bass, drums, synth, and even a little keyboard. Overall, I’m just a geek.
			%small #{link_to "shanemaloy.com","http://shanemaloy.com/"}