-# HTML5 section for the show page
%section#home-show.animated.fadeInLeft
	-# Create a new row for the prayer request
	.row
		-# Show the prayer request using the CSS grid
		.span8
			%h2 &#8220;#{@prayer.request}&#8221;
			.info
				%i.icon-user
				=@prayer.name.split(" ")[0]
		
				%i.icon-time
				=timeago @prayer.created_at
		
				-if @prayer.location
					%i.icon-map-marker
					=@prayer.location
	
	-# Create a new row for the buttons
	.row
		.span8
			-# Prayed for number
			%p.prayed_for=prayed_for_number(@already_prayed_for, @prayer.times_prayed_for)
			
			-# Buttons
			%p
				-# Back button
				%a.btn{:href => url_for(prayers_path)}
					%i.icon-home
					More Prayer Requests
				
				-# If the prayer request was already prayed for display the disabled button, otherwise show the enabled one
				-if @already_prayed_for
					%a.btn.btn-success.disabled#home-show-prayed-for{:href => "#"}
						%i.icon-ok.icon-white
						You already prayed for this
				-else
					%a.btn.btn-success#home-show-prayed-for{:href => url_for(prayed_for_prayer_path(@prayer)), :"data-remote" => "true"}
						%i.icon-ok.icon-white
						I prayed for this
				
				-# If the prayer request was already reported display the disabled button, otherwise show the enabled one
				-if @already_reported
					%a.btn.btn-danger.disabled#home-show-report{:href => "#"}
						%i.icon-ban-circle.icon-white
						You already reported this content
				-else
					%a.btn.btn-danger#home-show-report{:href => url_for(report_prayer_path(@prayer)), :"data-remote" => "true"}
						%i.icon-ban-circle.icon-white
						Report Inappropriate Content
	
	-# Create a new row for comments
	.row
		.span8
			-# Disqus integration (only uses production shortname in production mode)
			.disqus
				-# Thread that Disqus will inject into
				#disqus_thread
				
				-# Setup Disqus with production shortcode only in production mode, otherwise use development/testing shortcode in development mode
				- if Rails.env == "production"
					:javascript
						/* * * VARIABLES * * */
						var disqus_shortname = 'shareaprayer';
						var disqus_identifier = '#{@prayer.id}';
						var disqus_url = 'http://shareaprayer.org/#{@prayer.id}';
						var disqus_title = 'Prayer Request: #{@prayer.request[0..40]}...';
						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
				- else
					:javascript
						/* * * VARIABLES * * */
						var disqus_developer = 1;
						var disqus_shortname = 'example';
						var disqus_identifier = '#{@prayer.id}';
						var disqus_url = 'http://shareaprayer.org/#{@prayer.id}';
						var disqus_title = 'Prayer Request: #{@prayer.request[0..40]}...';
						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
				
				-# Fallback for someone without Javascript enabled
				%noscript
					Please enable JavaScript to view the
					%a{ :href => "http://disqus.com/?ref_noscript" }
						comments powered by Disqus.
	
	-# Display footer partial in new row
	.row
		.span8
			=render 'shared/footer'