-# HTML5 section for the show page
%section#home-show.animated.fadeInLeft
	-# Create a new row for the prayer request
	.row
		-# Show the Gravatar on the left using the CSS grid
		.span1
			=image_tag "http://www.gravatar.com/avatar/#{@prayer.gravatar_id}?size=70"
			
		-# Show the prayer request on the right using the CSS grid
		.span7
			%h2 "#{@prayer.request}"
			%p
				%small Posted by #{@prayer.name.split(" ")[0]} #{timeago(@prayer.created_at)}
	
	-# Create a new row for the buttons
	.row
		.span8
			-# Prayed for number
			%p.prayed_for=prayed_for_number(@already_prayed_for, @prayer.times_prayed_for)
			
			-# Buttons
			%p
				-# Back button
				=link_to "More Prayer Requests", prayers_path, :class => "btn"
				
				-# If the prayer request was already prayed for display the disabled button, otherwise show the enabled one
				-if @already_prayed_for
					=link_to "You already prayed for this", "#", :class => "btn success disabled", :id => "home-show-prayed-for"
				-else
					=link_to "I prayed for this", prayed_for_prayer_path(@prayer), :remote => true, :class => "btn success", :id => "home-show-prayed-for"
				
				-# If the prayer request was already reported display the disabled button, otherwise show the enabled one
				-if @already_reported
					=link_to "You already reported this content", "#", :class => "btn danger disabled", :id => "home-show-report"
				-else
					=link_to "Report Inappropriate Content", report_prayer_path(@prayer), :remote => true, :class => "btn danger", :id => "home-show-report"
	
	-# Create a new row for comments
	.row
		.span8
			-# Disqus integration (only uses production shortname in production mode)
			.disqus
				-# Thread that Disqus will inject into
				#disqus_thread
				
				-# Setup Disqus with production shortcode only in production mode, otherwise use development/testing shortcode in development mode
				- if Rails.env == "production"
					:javascript
						/* * * VARIABLES * * */
						var disqus_shortname = 'shareaprayer';
						var disqus_identifier = '#{@prayer.id}';
						var disqus_url = 'http://shareaprayer.org/#{@prayer.id}';
						var disqus_title = 'Prayer Request: #{@prayer.request[0..40]}...';
						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
				- else
					:javascript
						/* * * VARIABLES * * */
						var disqus_developer = 1;
						var disqus_shortname = 'example';
						var disqus_identifier = '#{@prayer.id}';
						var disqus_url = 'http://shareaprayer.org/#{@prayer.id}';
						var disqus_title = 'Prayer Request: #{@prayer.request[0..40]}...';
						/* * * DON'T EDIT BELOW THIS LINE * * */
						(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
				
				-# Fallback for someone without Javascript enabled
				%noscript
					Please enable JavaScript to view the
					%a{ :href => "http://disqus.com/?ref_noscript" }
						comments powered by Disqus.
	
	-# Display footer partial in new row
	.row
		.span8
			=render 'shared/footer'

-# Intialize jQuery timeago
:javascript
	$(document).ready(function(){
		jQuery("time#timeago").timeago();
	});