.login
	.logo
		%h1 Share a Prayer
	.subtitle
		%p microblogging meets prayer sharing
	.nav
		%p
			#{link_to "Dashboard", dashboard_path}&nbsp;|
			#{link_to "Profile", user_path(current_user.screenname)}&nbsp;|
			- if current_user.group != nil
				#{link_to "Group", group_path(current_user.group)}&nbsp;|
			- else
				#{link_to "Browse Groups", groups_path}&nbsp;|
			#{link_to "Logout", signout_path}
	%hr