!!! 5
%html
	%head
		%title
			Share a Prayer
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		- if Rails.env == "production"
			:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', 'UA-25113938-1']);
				_gaq.push(['_setDomainName', 'shareaprayer.org']);
				_gaq.push(['_setAllowHash', 'false']);
				_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
	
	%body
		.header
			- if current_user
				= render :partial => "layouts/header"
			- else
				= render :partial => "layouts/header_nologin"
		
		.clear
		
		%p{ :class => "notice" } #{ notice }
		%p{ :class => "alert" } #{ alert }
		
		= yield
		
		.clear
		
		.footer
			= render :partial => "layouts/footer"